{{ 'shopify-section-language-floating-icon.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="shopify-section-language-floating-icon" class="shopify-section">
  <div class="floating-lang" style="opacity: 1; visibility: hidden;">
    <div style="display:inline-flex;">
      <div class="lang-switcher-c">
        <a class="lang-switch-a" data-value="1" href=""
          ><i class="translate-ui fa fa-language" aria-hidden="true"></i
          ><strong style="font-size:20px ">اردو</strong>&nbsp;<span>ميں پڑھيں</span></a
        >
      </div>
    </div>
  </div>
</div>

{{ 'shopify-section-language-floating-icon.js' | asset_url }}
